{
  "name": "CodeCamp",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "assets/sass/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass",
      "assets",
      "assets/sass",
      "assets/sass/assets"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/sass/main.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/animate.scss",
        "assets/sass/assets/_variables.scss",
        "assets/sass/assets/animatewithsass/_properties.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/fading-entrances.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeIn.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInDown.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInDownBig.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInLeft.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInLeftBig.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInRight.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInRightBig.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInUp.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInUpBig.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/animate.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_properties.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/attention-seekers.scss",
        "assets/sass/assets/animatewithsass/_bouncing-entrances/bouncing-entrances.scss",
        "assets/sass/assets/animatewithsass/_bouncing-exits/bouncing-exits.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/fading-entrances.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/fading-exits.scss",
        "assets/sass/assets/animatewithsass/_flippers/flippers.scss",
        "assets/sass/assets/animatewithsass/_lightspeed/lightspeed.scss",
        "assets/sass/assets/animatewithsass/_rotating-entrances/rotating-entrances.scss",
        "assets/sass/assets/animatewithsass/_rotating-exits/rotating-exits.scss",
        "assets/sass/assets/animatewithsass/_sliding-entrances/sliding-entrances.scss",
        "assets/sass/assets/animatewithsass/_sliding-exits/sliding-exits.scss",
        "assets/sass/assets/animatewithsass/_specials/specials.scss",
        "assets/sass/assets/animatewithsass/_zooming-entrances/zooming-entrances.scss",
        "assets/sass/assets/animatewithsass/_zooming-exits/zooming-exits.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_bounce.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_flash.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_jello.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_pulse.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_rubberBand.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_shake.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_swing.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_tada.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_wobble.scss",
        "assets/sass/assets/animatewithsass/_bouncing-entrances/_bounceIn.scss",
        "assets/sass/assets/animatewithsass/_bouncing-entrances/_bounceInDown.scss",
        "assets/sass/assets/animatewithsass/_bouncing-entrances/_bounceInLeft.scss",
        "assets/sass/assets/animatewithsass/_bouncing-entrances/_bounceInRight.scss",
        "assets/sass/assets/animatewithsass/_bouncing-entrances/_bounceInUp.scss",
        "assets/sass/assets/animatewithsass/_bouncing-exits/_bounceOut.scss",
        "assets/sass/assets/animatewithsass/_bouncing-exits/_bounceOutDown.scss",
        "assets/sass/assets/animatewithsass/_bouncing-exits/_bounceOutLeft.scss",
        "assets/sass/assets/animatewithsass/_bouncing-exits/_bounceOutRight.scss",
        "assets/sass/assets/animatewithsass/_bouncing-exits/_bounceOutUp.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeIn.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInDown.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInDownBig.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInLeft.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInLeftBig.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInRight.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInRightBig.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInUp.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInUpBig.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOut.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutDown.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutDownBig.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutLeft.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutLeftBig.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutRight.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutRightBig.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutUp.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutUpBig.scss",
        "assets/sass/assets/animatewithsass/_flippers/_flip.scss",
        "assets/sass/assets/animatewithsass/_flippers/_flipInX.scss",
        "assets/sass/assets/animatewithsass/_flippers/_flipInY.scss",
        "assets/sass/assets/animatewithsass/_flippers/_flipOutX.scss",
        "assets/sass/assets/animatewithsass/_flippers/_flipOutY.scss",
        "assets/sass/assets/animatewithsass/_lightspeed/_lightSpeedIn.scss",
        "assets/sass/assets/animatewithsass/_lightspeed/_lightSpeedOut.scss",
        "assets/sass/assets/animatewithsass/_rotating-entrances/_rotateIn.scss",
        "assets/sass/assets/animatewithsass/_rotating-entrances/_rotateInDownLeft.scss",
        "assets/sass/assets/animatewithsass/_rotating-entrances/_rotateInDownRight.scss",
        "assets/sass/assets/animatewithsass/_rotating-entrances/_rotateInUpLeft.scss",
        "assets/sass/assets/animatewithsass/_rotating-entrances/_rotateInUpRight.scss",
        "assets/sass/assets/animatewithsass/_rotating-exits/_rotateOut.scss",
        "assets/sass/assets/animatewithsass/_rotating-exits/_rotateOutDownLeft.scss",
        "assets/sass/assets/animatewithsass/_rotating-exits/_rotateOutDownRight.scss",
        "assets/sass/assets/animatewithsass/_rotating-exits/_rotateOutUpLeft.scss",
        "assets/sass/assets/animatewithsass/_rotating-exits/_rotateOutUpRight.scss",
        "assets/sass/assets/animatewithsass/_sliding-entrances/_slideInDown.scss",
        "assets/sass/assets/animatewithsass/_sliding-entrances/_slideInLeft.scss",
        "assets/sass/assets/animatewithsass/_sliding-entrances/_slideInRight.scss",
        "assets/sass/assets/animatewithsass/_sliding-entrances/_slideInUp.scss",
        "assets/sass/assets/animatewithsass/_sliding-exits/_slideOutDown.scss",
        "assets/sass/assets/animatewithsass/_sliding-exits/_slideOutLeft.scss",
        "assets/sass/assets/animatewithsass/_sliding-exits/_slideOutRight.scss",
        "assets/sass/assets/animatewithsass/_sliding-exits/_slideOutUp.scss",
        "assets/sass/assets/animatewithsass/_specials/_hinge.scss",
        "assets/sass/assets/animatewithsass/_specials/_rollIn.scss",
        "assets/sass/assets/animatewithsass/_specials/_rollOut.scss",
        "assets/sass/assets/animatewithsass/_zooming-entrances/_zoomIn.scss",
        "assets/sass/assets/animatewithsass/_zooming-entrances/_zoomInDown.scss",
        "assets/sass/assets/animatewithsass/_zooming-entrances/_zoomInLeft.scss",
        "assets/sass/assets/animatewithsass/_zooming-entrances/_zoomInRight.scss",
        "assets/sass/assets/animatewithsass/_zooming-entrances/_zoomInUp.scss",
        "assets/sass/assets/animatewithsass/_zooming-exits/_zoomOut.scss",
        "assets/sass/assets/animatewithsass/_zooming-exits/_zoomOutDown.scss",
        "assets/sass/assets/animatewithsass/_zooming-exits/_zoomOutLeft.scss",
        "assets/sass/assets/animatewithsass/_zooming-exits/_zoomOutRight.scss",
        "assets/sass/assets/animatewithsass/_zooming-exits/_zoomOutUp.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_attention-seekers/attention-seekers.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_attention-seekers/_bounce.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_flash.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_jello.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_pulse.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_rubberBand.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_shake.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_swing.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_tada.scss",
        "assets/sass/assets/animatewithsass/_attention-seekers/_wobble.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_bouncing-entrances/bouncing-entrances.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_bouncing-entrances/_bounceIn.scss",
        "assets/sass/assets/animatewithsass/_bouncing-entrances/_bounceInDown.scss",
        "assets/sass/assets/animatewithsass/_bouncing-entrances/_bounceInLeft.scss",
        "assets/sass/assets/animatewithsass/_bouncing-entrances/_bounceInRight.scss",
        "assets/sass/assets/animatewithsass/_bouncing-entrances/_bounceInUp.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_bouncing-exits/bouncing-exits.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_bouncing-exits/_bounceOut.scss",
        "assets/sass/assets/animatewithsass/_bouncing-exits/_bounceOutDown.scss",
        "assets/sass/assets/animatewithsass/_bouncing-exits/_bounceOutLeft.scss",
        "assets/sass/assets/animatewithsass/_bouncing-exits/_bounceOutRight.scss",
        "assets/sass/assets/animatewithsass/_bouncing-exits/_bounceOutUp.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_fading-entrances/fading-entrances.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeIn.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInDown.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInDownBig.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInLeft.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInLeftBig.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInRight.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInRightBig.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInUp.scss",
        "assets/sass/assets/animatewithsass/_fading-entrances/_fadeInUpBig.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_fading-exits/fading-exits.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOut.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutDown.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutDownBig.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutLeft.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutLeftBig.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutRight.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutRightBig.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutUp.scss",
        "assets/sass/assets/animatewithsass/_fading-exits/_fadeOutUpBig.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_flippers/flippers.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_flippers/_flip.scss",
        "assets/sass/assets/animatewithsass/_flippers/_flipInX.scss",
        "assets/sass/assets/animatewithsass/_flippers/_flipInY.scss",
        "assets/sass/assets/animatewithsass/_flippers/_flipOutX.scss",
        "assets/sass/assets/animatewithsass/_flippers/_flipOutY.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_lightspeed/lightspeed.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_lightspeed/_lightSpeedIn.scss",
        "assets/sass/assets/animatewithsass/_lightspeed/_lightSpeedOut.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_rotating-entrances/rotating-entrances.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_rotating-entrances/_rotateIn.scss",
        "assets/sass/assets/animatewithsass/_rotating-entrances/_rotateInDownLeft.scss",
        "assets/sass/assets/animatewithsass/_rotating-entrances/_rotateInDownRight.scss",
        "assets/sass/assets/animatewithsass/_rotating-entrances/_rotateInUpLeft.scss",
        "assets/sass/assets/animatewithsass/_rotating-entrances/_rotateInUpRight.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_rotating-exits/rotating-exits.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_rotating-exits/_rotateOut.scss",
        "assets/sass/assets/animatewithsass/_rotating-exits/_rotateOutDownLeft.scss",
        "assets/sass/assets/animatewithsass/_rotating-exits/_rotateOutDownRight.scss",
        "assets/sass/assets/animatewithsass/_rotating-exits/_rotateOutUpLeft.scss",
        "assets/sass/assets/animatewithsass/_rotating-exits/_rotateOutUpRight.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_sliding-entrances/sliding-entrances.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_sliding-entrances/_slideInDown.scss",
        "assets/sass/assets/animatewithsass/_sliding-entrances/_slideInLeft.scss",
        "assets/sass/assets/animatewithsass/_sliding-entrances/_slideInRight.scss",
        "assets/sass/assets/animatewithsass/_sliding-entrances/_slideInUp.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_sliding-exits/sliding-exits.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_sliding-exits/_slideOutDown.scss",
        "assets/sass/assets/animatewithsass/_sliding-exits/_slideOutLeft.scss",
        "assets/sass/assets/animatewithsass/_sliding-exits/_slideOutRight.scss",
        "assets/sass/assets/animatewithsass/_sliding-exits/_slideOutUp.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_specials/specials.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_specials/_hinge.scss",
        "assets/sass/assets/animatewithsass/_specials/_rollIn.scss",
        "assets/sass/assets/animatewithsass/_specials/_rollOut.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_zooming-entrances/zooming-entrances.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_zooming-entrances/_zoomIn.scss",
        "assets/sass/assets/animatewithsass/_zooming-entrances/_zoomInDown.scss",
        "assets/sass/assets/animatewithsass/_zooming-entrances/_zoomInLeft.scss",
        "assets/sass/assets/animatewithsass/_zooming-entrances/_zoomInRight.scss",
        "assets/sass/assets/animatewithsass/_zooming-entrances/_zoomInUp.scss"
      ]
    },
    {
      "path": "assets/sass/assets/animatewithsass/_zooming-exits/zooming-exits.scss",
      "imports": [
        "assets/sass/assets/animatewithsass/_zooming-exits/_zoomOut.scss",
        "assets/sass/assets/animatewithsass/_zooming-exits/_zoomOutDown.scss",
        "assets/sass/assets/animatewithsass/_zooming-exits/_zoomOutLeft.scss",
        "assets/sass/assets/animatewithsass/_zooming-exits/_zoomOutRight.scss",
        "assets/sass/assets/animatewithsass/_zooming-exits/_zoomOutUp.scss"
      ]
    },
    {
      "path": "assets/sass/assets/_buttons.scss",
      "imports": [
        "assets/sass/assets/_variables.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes",
    "/assets/sass/assets/animatewithsass"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"],\"compiler-png\":{\"enabled\":true,\"originalSize\":0,\"newSize\":0}}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}